body {
    background: url('DefiniteDisastrousEel-max-1mb.gif') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-size: 100%;
    padding: 10px 50px 20px;  
  }

  blockquote {
    margin:10px;
    background: rgb(255, 255, 255);
    padding: 7px 7px 7px;
    border-left: rgb(255, 0, 0);
    border-right: rgb(251, 255, 0);
    border-radius: 10px;
    }

.container-fluid {
  background-color: rgba(255, 0, 0, 0.692) ;
  margin: 0px;
  padding: 0px;
}

.form-control {
  border-radius: 4px;
}

marquee {
  margin: 1px;
}

.vertical-line{
  border-left: 2px solid #000;
  display: inline-block;
  height: 130px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.right {
  flex: 1;
}


#nav-droite, #nav-gauche{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3em;
}

#nav-droite{
  right: 20px;
}
#nav-gauche{
  left: 20px;
}

.elements{
  display: flex;
  transition: 1s linear;
}

.element{
  flex: 1 0 100%;
  position: relative;
}

.element > img{
  width: 100%;
}

.caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255,255,255,0.4);
  padding: 30px;
}

.flex-direction {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actus {
  float:left;
  
  }

.actuss {
  float:right;
}

hr {
  padding: 10px;
}

.flot {
  color: aquamarine;
}

p {
  margin: 50px;
  padding: 17px;
}


.lol {
  color: goldenrod;
  font-family: system-ui;
}

.lols {
  color: firebrick;
  font-family: system-ui;
}